h1 {
    font-family: 'Montserrat', Helvetica;
    text-transform: uppercase;
    font-size: 150px;
    display: inline;
    /*vertical-align: middle;*/
}

body {
    margin: 0;
    padding: 0;
    text-align: center; /* !!! */
    background-color: lightgray;
}


#h {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
}

.off {
    color: firebrick;
}

.on {
    color: forestgreen;
}
