#Ignore Node.js dependencies.
#Source for this file: https://awstip.com/the-ultimate-gitignore-guide-for-django-and-next-js-projects-4631b62e5528
# Ignore dependencies
/node_modules/
# Ignore Next.js build and cache files
/.next/
/out/
# Ignore environment variables
.env*
# Ignore log files and debugging outputs
npm-debug.log*
yarn-debug.log*
# Ignore local IDE settings
.vscode/
.idea/
# Ignore testing coverage reports
/coverage/
# Ignore MacOS system files
.DS_Stores


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
